/*
*Name: Interview Chat App
*Date: March 2016
*Description: CSS for interview chat app web page
*Version: 1.0
*Author: Daniel Martin
*/

/* CSS basic Reset */
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	margin:0 auto;
	max-width:940px;
	font:13px/22px Helveltica, Arial, "sans-serif";
	background:#222222;
}

img {
	height:100px;
	width:auto;
}

div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #2d2d2d;
	padding: 35px;
	margin: 0 auto;
}

footer {
	position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color:#FFFFFF;
	background-color:#000000;
	padding:10px;
	text-align:center;
}
